<div class="container inbox-container">
  <h3 id="inbox-header">Your Messages</h3>
  <% @conversations.each do |conversation| %>
  <% who = conversation.nibble.interested == current_user ? conversation.nibble.owner : conversation.nibble.interested %>

  <div class="inbox-message">
    <div class="left-part-message">
      <div class="left-part-image">
      <%= cl_image_tag who.photos.first.picture,
      transformation: [{ height: 70, width: 70, crop: :thumb, gravity: :face}],
      style: "border-radius:50%;margin-left: 9px;height: 70px; object-fit:cover;",
      data: {toggle: "modal", target: "#user-modal"} %>
      </div>

      <div class="message-name">
        <h3><%= who.full_name %></h3>
        <p><%= link_to conversation.nibble.experience.title, conversation_path(conversation), style:"color:#333333" %></p>
      </div>
    </div>

    <% if conversation.messages.unread.where(recipient: current_user).length > 0  %>
      <span class="badge badge-primary" id="badge-message">
        <%= conversation.messages.unread.where(recipient: current_user).length %>
      </span>
    <% end %>


    <div class="right-part-message">
      <div class="message-body">
        <p>
          <%= link_to "#{conversation.messages.last.body[0..20]}...", conversation_path(conversation) %>
        </p>
        <div id="date"><%= conversation.messages.last.date %></div>
      </div>

      <div class="message-status">
        <p class="status <%= conversation.nibble.status %>" id="status_<%= conversation.nibble.id %> "><%= conversation.nibble.status.capitalize %></p>
        <%# if policy(conversation.nibble).update? && conversation.nibble.status == 'pending' %>
        <!-- <div id="status-buttons"> -->
          <%#= link_to '', experience_nibble_path(conversation.nibble.experience, conversation.nibble, status: 'accepted'),
          method: :patch, class: 'fas fa-check-circle', style: "color: #2E996E;margin: 0 10px;" %>
          <%#= link_to '', experience_nibble_path(conversation.nibble.experience, conversation.nibble, status: 'declined'),
          method: :patch, class: 'fas fa-thumbs-down', style: "color: #9B2E2E;" %>
        <!-- </div> -->
        <%# elsif !policy(conversation.nibble).update? && conversation.nibble.status == 'pending' %>
          <!-- <p><em>Patience is a virtue, right?</em></p> -->
        <%# end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
