 <div class="profile-page">

  <!-- THE TABS -->
  <div class="all-tabs">
    <%= button_tag(type: 'button') do %>
      <%=  content_tag(:strong, 'Ask me!') %>
    <% end %>

    <div class="tab-item top-tab active">
      Profile
    </div>
    <div class="tab-item">
      Dates
    </div>
    <div class="tab-item">
      Nibbles
    </div>
    <div class="tab-item">
      Statistics
    </div>
  </div>


<!-- THE CONTENT -->
<div class="all-content">

    <!-- PAGE 1 -->
    <div class="tab-content">
      <h2>1. PROFILE</h2>

      <strong>name</strong>
      <p><%= @user.full_name %></p><br>

      <strong>image</strong>
      <%= cl_image_tag @user.photos.first.picture %>

      <strong>bio</strong>
      <p><%= @user.bio %></p><br>

      <strong>identifies as</strong>
      <p><%= @user.gender %></p><br>

      <strong>interested in</strong>
      <p><%= @user.seeking %></p><br>

      <strong>DOB</strong>
      <p><%= @user.birthday %></p><br>
    </div>

    <!-- PAGE 2 -->
    <div class="tab-content hidden">
      <h2>2. MY DATES</h2>
      <% @user.experiences.each do |experience| %>
        <strong>title</strong>
        <p><%= experience.title %></p><br>
        <strong>category</strong>
        <p><%= experience.category %></p><br>
        <strong>location</strong>
        <p><%= experience.location %></p><br>
        <strong>description</strong>
        <p><%= experience.description %></p><br>
        <hr>
      <% end %>
    </div>
</div>
