 <div class="profile-page">

  <!-- THE TABS -->
  <div class="all-tabs">
    <%= button_tag "Profile", class: 'tab-item top-tab active', id: 'profile-tab', "data-content" => 'profile-content' %>
    <%= button_tag "Dates", class: 'tab-item', id: 'dates-tab', "data-content" => 'dates-content' %>
    <%= button_tag "Nibbles", class: 'tab-item', id: 'nibbles-tab', "data-content" => 'nibbles-content' %>
    <%= button_tag "Statistics", class: 'tab-item', id: 'statistics-tab', "data-content" => 'statistics-content' %>
  </div>


<!-- THE CONTENT -->
<div class="all-content">

    <!-- PAGE 1 -->
    <div class="tab-content" id="profile-content">
      <h2>1. PROFILE</h2>

      <strong>name</strong>
      <p><%= @user.full_name %></p><br>

      <strong>image</strong><br>
      <%= cl_image_tag @user.photos.first.picture, class: 'avatar avatar-large' %><br><br>

      <strong>bio</strong>
      <p><%= @user.bio %></p><br>

      <strong>identifies as</strong>
      <p><%= @user.gender %></p><br>

      <strong>interested in</strong>
      <p><%= @user.seeking %></p><br>

      <strong>DOB</strong>
      <p><%= @user.birthday %></p><br>
    </div>

    <!-- PAGE 2 -->
    <div class="tab-content hidden" id="dates-content">
      <h2>2. MY DATES</h2>
      <% @user.experiences.each do |experience| %>
      <div>
        <button data-toggle="modal" data-target="#edit-experience-modal-<%= experience.id %>" class="btn btn-primary">Edit</button>
        <%= render 'shared/edit-experience', experience: experience %>

        <button class="btn btn-primary"><%= link_to "Delete Experience", experience, method: :delete, data: { confirm: "Are you sure about this?"} %> </button>
      </div>

        <strong>title</strong>
        <p><%= experience.title %></p><br>
        <strong>category</strong>
        <p><%= experience.category %></p><br>
        <strong>location</strong>
        <p><%= experience.location %></p><br>
        <strong>description</strong>
        <p><%= experience.description %></p><br>
        <hr>
      <% end %>
    </div>

    <!-- PAGE 3 -->
    <div class="tab-content hidden" id="nibbles-content">
      <h2>3. MY NIBBLES</h2>
      <% @user.nibbles.each do |nibble| %>
        <button class="btn btn-primary"><%= link_to "Delete Nibble", experience_nibble_path(nibble.experience, nibble), method: :delete, data: { confirm: "Are you sure about this?"} %> </button>
        <p><%= link_to nibble.experience.title, experience_path(nibble.experience) %></p>
      <% end %>
    </div>

    <!-- PAGE 4 -->
    <div class="tab-content hidden" id="statistics-content">
      <h2>4. STATISTICS</h2>
      <p>Statistics go here</p>
    </div>
</div>
