<div class='modal fade' id="date-filter-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modal-padding modal-background">

    <h2 class="text-center">When?</h2>

      <%= form_tag({}, {method: :get, enforce_utf8: browser.ie?}) do %>

      <div class="flexbox-horizontal">
        <%= submit_tag("today", name: "date", class: 'btn btn-primary') %>
        <%= submit_tag("tomorrow", name: "date", class: 'btn btn-primary') %>
        <%= submit_tag("next weekend", name: "date", class: 'btn btn-primary') %>
      </div>

      <% end %>

      <%= simple_form_for :range, method: :get do |f| %>
        <%= f.input :date_range, as: :string, input_html: {class: "datepickr-range"} %>
        <%= f.submit "custom range", name: :date, class: "btn btn-primary" %>
      <% end %>


    </div>
  </div>
</div>
