  <% if experience.nibbles.present? %>
    <% experience.nibbles.each do |nibble| %>
      <div class="date-nibble">
        <%= cl_image_tag nibble.interested.photos.first.picture,
            transformation: [{ height: 70, width: 70, crop: :thumb, gravity: :face}],
            style: "border-radius:50%;",
            data: {toggle: "modal", target: "#user-modal"} %>
        <div class="date-nibble-name">
          <h4><%= nibble.interested.full_name %></h4>
        </div>
        <div class="date-nibble-buttons">
          <%= link_to "Inbox", conversation_path(nibble.conversations.first), class: 'btn btn-primary' %>
          <p><%= nibble.status.capitalize %></p>
          <% if nibble.status == 'pending' %>
            <%= link_to '', experience_nibble_path(nibble.experience, nibble, status: 'declined'),
                method: :patch, class: 'fas fa-times-circle', style: "color: #9B2E2E;margin: 0 10px;" %>
            <%= link_to '', experience_nibble_path(nibble.experience, nibble, status: 'accepted'),
                method: :patch, class: 'fas fa-check-circle', style: "color: #2E996E;" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="no-nibbles">
      <h4>You've got no nibbles yet</h4>
    </div>
  <% end %>
