<div class="navbar-wagon">

  <!-- FOR LARGER SCREENS -->
  <div class="hidden-xs hidden-sm">

    <!-- USER SIGNED IN -->
    <% if user_signed_in? %>
      <% notif_message = current_user.received_messages.unread.length > 0 ? 'notification' : 'notification hidden' %>

      <div class="flexbox-horizontal">

        <!-- LEFT OF LOGO -->
        <%= link_to "EXPLORE", experiences_path, class: "item-padding item-margin link-item body-text" %>
        <%= link_to "CREATE", new_experience_path, class: "item-padding item-margin link-item body-text", style: "margin-right: 20px" %>

        <!-- LOGO -->
        <a href="/" class="navbar-logo center-text">
          <%= image_tag "logo.png", alt: "Date Fishing" %>
        </a>

        <!-- RIGHT OF LOGO -->
        <%= link_to "MESSAGES", inbox_path, class: "item-padding item-margin link-item body-text", style: "margin-left: 20px" %>
        <%= image_tag "heart.svg", class: notif_message, id: "message-notification" %>
        <%= link_to "PROFILE", user_path(current_user), class: "item-padding item-margin link-item body-text" %>
        <%= image_tag "heart.svg", class: 'notification hidden', id: "profile-notification" %>
    </div>

    <!-- USER NOT SIGNED IN -->
    <% else %>

      <div class="flexbox-horizontal">

        <%= link_to "EXPLORE", experiences_path, class: "item-padding item-margin link-item body-text" %>
        <%= link_to "RANDOM", experience_path(Experience.all.sample), class: "item-padding item-margin link-item body-text", style: "margin-right: 20px" %>

        <!-- LOGO -->
        <a href="/" class="navbar-logo center-text">
          <%= image_tag "logo.png", alt: "Date Fishing" %>
        </a>

        <!-- LOG IN -->
        <span class="item-padding item-margin link-item" data-toggle="modal" data-target="#log-in" style="margin-left: 20px">LOG IN</span>
        <%= render 'shared/log-in-modal' %>

        <!-- SIGN UP -->
        <span class="item-padding item-margin link-item" data-toggle="modal" data-target="#sign-up">SIGN UP</span>
        <%= render 'shared/sign-up-modal' %>

      </div>
    <% end %>
  </div>


  <!-- FOR SMALLER SCREENS -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Explore", experiences_path %></li>
          <li><%= link_to "Create", new_experience_path %></li>
          <li><%= link_to "Messages", inbox_path %></li>
          <li><a href="#">Profile</a><%#= link_to "Profile", user_path(current_user) %></li>
      </ul>
    </div>

  </div>
</div>


