<div class="navbar-wagon">

  <!-- FOR LARGER SCREENS -->
  <div class="hidden-xs hidden-sm">

    <!-- USER SIGNED IN -->
    <% if user_signed_in? %>

      <!-- LEFT OF LOGO -->
      <%= link_to "EXPLORE", experiences_path, class: "item-padding item-margin link-item" %>
      <%= link_to "CREATE", new_experience_path, class: "item-padding item-margin link-item" %>

      <!-- LOGO -->
      <%= link_to root_path, class: "navbar-logo" do %>
        <%= cl_image_tag "https://res.cloudinary.com/dkft9hkkv/image/upload/v1543947454/Date%20Fishing/datefishing-white.png" %>
      <% end %>

      <!-- RIGHT OF LOGO -->
      <%= link_to "MESSAGES", inbox_path, class: "item-padding item-margin link-item" %>
      <%= link_to "PROFILE", user_path(current_user), class: "item-padding item-margin link-item" %>


    <!-- USER NOT SIGNED IN -->
    <% else %>

      <!-- SIGN UP -->
      <button class="btn btn-primary" data-toggle="modal" data-target="#sign-up">Sign Up</button>
      <%= render 'shared/sign-up-modal' %>

      <!-- LOGO -->
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
        <%= image_tag "https://res.cloudinary.com/dkft9hkkv/image/upload/v1543592610/Date%20Fishing/datefishing.png", height: 50 %>
      <% end %>

      <!-- LOG IN -->
      <button class="btn btn-primary" data-toggle="modal" data-target="#log-in">Log In</button>
      <%= render 'shared/log-in-modal' %>
    <% end %>
  </div>


  <!-- FOR SMALLER SCREENS -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Explore</a></li>
          <li><a href="#">Create</a></li>
          <li><a href="#">Messages</a></li>
          <li><a href="#">Profile</a></li>
      </ul>
    </div>
  </div>
</div>


