<div class='modal fade' id="nibble" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-padding modal-background">
      <button data-dismiss="modal" class="close" style="margin-right: 10px">×</button>
      <div class="modal-header text-left">
        <h2 class="modal-title">Nibble <%= experience.user.full_name %></h2>
        <p>Why are you the perfect match for this date?</p>
      </div>
      <% if current_user %>
        <div class="modal-body text-left">
          <%= simple_form_for(:nibble, url: experience_nibbles_path(experience)) do |f| %>
          <%= f.error_notification %>

          <%= f.simple_fields_for :messages do |m| %>
            <%= m.input :recipient_id, input_html: { value: experience.user.id }, as: :hidden %>
            <%= m.input :sender_id, input_html: { value: current_user.id }, as: :hidden %>
            <%#= m.input :recipient_name, label: 'Recipient', input_html: { value: experience.user.full_name } , disabled: true, as: :text %>
            <%= m.input :body, as: :text, label: false, placeholder: "Wow! Your date looks awesome. I've been meaning to do something like this forever. Let's do it together!" %>

          <% end %>
        </div>
        <div class="form-inputs">

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= submit_tag("Nibble!", class: 'btn btn-primary', id: 'nibble-send', data: { disable_with: "Sending..." }) %>
        </div>
        <% end %>

      <% else %>
        <div class="modal-body text-left">
          <%= simple_form_for(:nibble, url: experience_nibbles_path(experience)) do |f| %>
          <%= f.error_notification %>

          <%= f.simple_fields_for :messages do |m| %>
            <%#= m.input :recipient_name, label: 'Recipient', input_html: { value: experience.user.full_name } , disabled: true, as: :text %>
            <%= m.input :body, as: :text, label: false, placeholder: "You need to log in before sending a message." %>

          <% end %>
        </div>
        <div class="form-inputs">

        </div>

        <div class="modal-footer">
          <span class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#log-in" style="margin-left: 20px">Log In</span>
          <span class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#sign-up" style="margin-left: 20px">Sign Up</span>
        </div>
        <% end %>


      <% end %>
    </div>
  </div>
</div>
