<div class='modal fade' id="nibble" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-padding modal-background">
      <div class="modal-header">
        <h2 class="modal-title">Nibble <%= experience.user.full_name %></h2>
      </div>
      <div class="modal-body text-left">
        <%= simple_form_for(:nibble, url: experience_nibbles_path(experience)) do |f| %>
        <%= f.error_notification %>

        <%= f.simple_fields_for :messages do |m| %>
          <%= m.input :recipient_id, input_html: { value: experience.user.id }, as: :hidden %>
          <%= m.input :sender_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= m.input :recipient_name, label: 'Recipient', input_html: { value: experience.user.full_name } , disabled: true, as: :text %>
          <%= m.input :body, as: :text %>

        <% end %>
      </div>
      <div class="form-inputs">

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= submit_tag("Nibble!", class: 'btn btn-primary', id: 'nibble-send', data: { disable_with: "Sending..." }) %>
      </div>
      <% end %>
    </div>
  </div>
</div>
