<div class='modal fade' id="sign-up" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content sign-up-content-modal modal-padding modal-background">
      <button data-dismiss="modal" class="close">×</button>
      <h2>Sign Up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: "signup-form-devise" }) do |f| %>
        <%= f.error_notification %>
        <div class="sign-up-form">
          <div class="form-inputs">
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%#= f.input :birthday %>
            <%= f.input :birthday, as: :date, start_year: Date.today.year - 70, end_year: Date.today.year - 18 %>
            <%= f.input :gender, collection: User::GENDERS %>
            <%= f.input :seeking, collection: User::GENDERS %>
            <%= f.input :email,
            required: true,
            autofocus: true,
            input_html: { autocomplete: "email", id: "signup-email-field" }%>
            <%= f.input :password,
            required: true,
            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
            input_html: { autocomplete: "new-password", id: "signup-password-field" } %>
            <%= f.input :password_confirmation,
            required: true,
            input_html: { autocomplete: "new-password", id: "signup-confirm-password-field" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>


    </div>
  </div>
</div>
