<div class="container">

  <!-- FILTERS AT TOP -->
  <div class="filters-container">
    <button class="btn btn-success filter-item" data-toggle="modal" data-target="#category-filter-modal">Category</button>
    <%= render 'shared/category_filter_modal' %>
    <button class="btn btn-success filter-item" data-toggle="modal" data-target="#date-filter-modal">Date</button>
    <%= render 'shared/date_filter_modal' %>
    <div class="search-bar search-bar-width filter-item">
      <%= form_tag experiences_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Explore an ocean of dates"
      %>
      <% end %>
    </div>
  </div>

  <!-- CARDS BENEATH -->
  <%= render 'shared/experiences_masonry', experiences: @experiences %>
</div>

<!-- MARGIN BEFORE FOOTER -->
<div class="div-margin-large"></div>





<!-- <div class="row">
  <%# @experiences.each do |experience| %>
    <div class="col-md-4" align="center">
      <%#= render 'shared/card', experience: experience %>
    </div>
  <%# end %>
</div> -->
