<div class="full-height">
  <div class="page-container flexbox-horizontal">

    <!-- image side -->
    <div class="photo-side">
      <%= cl_image_tag @experience.photos.first.picture, :gravity=>"east", :crop=>"fill", id:"show-image" %>
    </div>

    <!-- details side -->
    <div class="details-side flexbox-horizontal">

      <!-- content box -->
      <div class="content-box text-center">

        <!-- header -->
        <h1><%= @experience.title %></h1>

        <!-- date, time and category -->
        <div class="show-features">
          <p><strong class="primary-color">Date:</strong> <%= @experience.humanize_date %></p>
          <p><strong class="primary-color">Time:</strong> <%= @experience.humanize_time %></p>
          <p><strong class="primary-color">Category:</strong> <%= @experience.category.capitalize %></p>
        </div>

        <!-- description -->
        <div class="primary-margin">
          <p><%= @experience.description %></p>
        </div>

        <!-- map -->
        <div id="map" style="width: 100%; height: 300px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>

        <!-- nibble button -->
        <% if policy(@nibble).create? %>
          <button class="btn btn-primary" data-toggle="modal" data-target="#nibble">Nibble!</button>
          <%= render 'shared/nibble', experience: @experience %>

        <!-- edit button -->
        <% elsif @experience.user == current_user %>
          <button data-toggle="modal" data-target="#edit-experience-modal-<%= @experience.id %>" class="btn btn-primary">Edit</button>
          <%= render 'shared/edit-experience', experience: @experience %>
        <% end %>
      </div>
    </div>
  </div>
</div>



