<div class="container">
  <div>
    <h1><%= @experience.title %></h1>
    <p><%= @experience.user.full_name %></p>
    <p><%= @experience.category %></p>
    <p><%= @experience.location %></p>
    <p><%= @experience.description %></p>
    <p><%= @experience.start_date %></p>
    <p><%= @experience.end_date %></p>
    <div id="map" style="width: 600px; height: 400px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

  </div>

</div>
