<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Date Fishing | Go on really, really cool dates</title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" %>
    <%= javascript_include_tag "https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js" %>
    <!-- <link rel="stylesheet" href="https://npmcdn.com/flickity@2/dist/flickity.css"> -->
    <%= javascript_include_tag "https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag "map" %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="min-page-height">
      <%= yield %>
    </div>
    <%= render 'shared/footer' unless request.original_fullpath == '/' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'profile-tabs' %>
    <%= javascript_pack_tag 'map' %>
    <%= javascript_pack_tag 'message-submit' %>
    <%= javascript_pack_tag 'flatpickr' %>
    <%= javascript_pack_tag 'ferris-wheel' %>
    <%= javascript_pack_tag 'alert_fade' %>
    <%= yield(:after_js) %>
    <% if user_signed_in? %>
      <script>
        App.notifications = App.cable.subscriptions.create("NotificationsChannel", {
          connected: function() {
            // Called when the subscription is ready for use on the server
          },
          disconnected: function() {
            // Called when the subscription has been terminated by the server
          },
          received: function(data) {
            // Called when there's incoming data on the websocket for this channel
            if (data.action == "messaged") {
              document.getElementById(data.id).classList.remove("hidden");
            } else {
              document.getElementById(data.id1).classList.remove("hidden");
              document.getElementById(data.id2).classList.remove("hidden");
            }
          }
        });
      </script>
    <% end %>
    <%= yield(:nibble_dropdown) %>
  </body>
</html>
